/* Created By Travis */
html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    text-align: center;
    /*background-color: rgba(195, 246, 246, 0.42);*/
    /*background-color: rgba(255, 255, 255, 1);*/
    background-color: #D9E2EF;
    font-size: 20px;
    /*font-family: 'Press Start 2P', DotGothic16, Arial, Helvetica, sans-serif;*/
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    color: #6ca3f7;
}

#header{
    height: 100px;
    padding: 20px;

    background-color: #D9E2EF;
}
#content{
    height: 100%;
    width: 100%;
}

nav ul{
    display: flex;
    margin: 0 -10px;
    justify-content: flex-start;

}

nav li{
    margin: 0 10px;
}

ul{
    max-height: 100%;
    max-width: 100%;
    justify-content: flex-start;
    list-style-type: none;
}

li{
    max-height: 100px;
    max-width: 100%;
    flex-grow: 1;
    width: 0;
}

#logoLi{
    text-align: left;
    flex-grow: 2;
}

#pfp{
    border: 5px solid #6CA3F7;
    border-radius: 15px;
    height: 100px;
    width: 100px;
}


#menubutton{
    max-height: 50px;
}

img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#dropdown{
    display: none;
    max-height: 100%;
}

#dropdownlinks{
    display: none;
}


/*
#header{
    height: 100px;
    padding: 20px;
    position: fixed;  Not sure if to make navbar fixed or not
    background-color: #D9E2EF;
}

#navbar {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#logo{
    float: left;
}
#links{
    flex: 1;
    display: flex;
    align-items: center;
}
a{
    color: rgba(108, 163, 247, 1);
    flex: 1;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

a:hover{
    transition-duration: 0.5s;
    background-color: rgba(108, 163, 247, 1);
    color: white;
    border-radius: 100%;
}
*/

table, th, td {
  border: 1px solid black;
}

#content{
    justify-content: center;
    display: flex;
}
#pics{
    height: 100px;
}

@media only screen and (max-width: 900px) {
    #header, nav {
    }
    #postLi, #groupLi, #leaderLi{
        display: none;
    }
    #dropdown{
        display: block;
    }
    #dropdownlinks{
        position: absolute;
        background-color: #7d8490;
        z-index: 1;
        width: 75px;
        padding: 20px;
    }
    #dropdownlinks a{
    }
}