#content{
    display: block;
}

#form_container{
    display: flex;
    height: auto;
    flex-flow: column wrap;
    font-size: 1em;
    width: 100%;
}

input:hover, input:focus textarea:hover, textarea:focus {
    opacity: 100%;
    background-color: white;
    width: 35%;
    color: black;
}

input, textarea{
    background-color: rgb(0, 0, 0);
    width: 30%;
    opacity: 50%;
    font-size: 1em;
    margin: 0.5%;
    border: solid black 2px;
    border-radius: 5px;
    transition-duration: 0.8s;
    color: white;
}

input:invalid:not(.submit), textarea:invalid{
  border: 2px solid red;
}

input:valid:not(.submit), textarea:valid{
  border: 2px solid green;
}

#post_type{
    width:100%;
    text-align: center;

}

.post_type_button{
    display: inline-block;
    transition-duration: 0.4s;
    padding: 15px 32px;
}

.post_type_button:hover {
  background-color: rgba(108, 163, 247, 1) !important; /* Green */
  color: white !important;
}


.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}