/* Created By Travis */

#content{
    display: flex;
    flex-flow: row nowrap;
}

#feed{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    width: 40vw;
}

p{
    margin: 10px;
    padding: 0;
}

.post{
    display: flex;
    flex-flow: column;
    background-color: white;
    min-height: 0;
    min-width: 200px;
    max-height: 600px;
    max-width: 600px;
    /*max-height: 10vh;*/
    width: 100%;
    border: 10px solid #6CA3F7;
    border-radius: 10px;
}
.comments{
    display: flex;
    flex-flow: column;
    background-color: white;
    min-height: 0;
    min-width: 200px;
    max-height: 600px;
    max-width: 600px;
    /*max-height: 10vh;*/
    width: 100%;
    border: 10px solid #6CA3F7;
    border-radius: 10px;
}
.post_details{
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
}
.poster_pfp{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 2px solid #6CA3F7;
    border-radius: 15px;
}

.poster_name{
    flex: 1;
}
.poster_name{
    flex: 1;
}
.post_name{
    flex: 2;
}

.post_content{
    border: 1px solid rgba(57, 84, 128, 0.82);
    display: flex;
    flex-flow: column;
    min-height: 0;
}

.post_image_container {
    min-height: 0;
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
}
/* fixed up to here */
.post_image{
    max-width: 100%;
    max-height: 100%;
}
.post_desc{

}
.icons{
    margin: 5px;
}
.upvote_div{
    display: flex;
    font-size: 25px;
    justify-content: center;
}
.upvote_count{
    margin: 0;
    padding: 0;
}
.upvote{
    margin: 0;
    padding: 0;
}
.upvote_img{

}

.icons{
    display: flex;
    height: 50px;
}
button{
    height: 100%;
    width: 100%;
    align-content: center;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
