/* Created By Travis */
html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    text-align: center;
    background-color: rgba(195, 246, 246, 0.42);
    font-size: 20px;
    font-family: Impact,'Press Start 2P', DotGothic16, Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
#header{
    min-height: 10%;
}
#content{
    justify-content: center;
    display: flex;
}
#logo{
   height: 100px;
}
#navbar {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}
#links{
    flex: 1;
    display: flex;
    align-items: center;
}
a{
    color: rgba(108, 163, 247, 1);
    border: solid 1px white;
    flex: 1;
    padding: 10px;
    margin: 5px;
}

a:hover{
    transition-duration: 0.5s;
    background-color: rgba(108, 163, 247, 1);
    color: white;
    border-radius: 5px;
}

table, th, td {
  border: 1px solid black;
}

p{
    font-size: 15px;
    font-family: Arial;
}
