<!-- Created By Jack -->
{% extends "base.html" %}
{% load static %}

{% block links %}
    <script type="text/javascript" src="{% static 'exehubapp/javascript/addevent.js' %}"></script>
{% endblock %}

{% block title %} Add Event {% endblock %}

{% block content %}
    <h1>Add an Event:</h1>
    <div id="form_container">
        <form name="events" id="events" method="post" action="">
            <label for="eventname">Event name</label>
            <br>
            <input type="text" id="eventname" name="eventname">
            <br>

            <label for="start">Start Time</label>
            <br>
            <input type="datetime-local" id="start" name="start">
            <br>

            <label for="end">End Time</label>
            <br>
            <input type="datetime-local" id="end" name="end">
            <br>

            <label for="location">Location</label>
            <br>
            <input type="text" id="location" name="location">
            <br>

            <label for="description">Description</label>
            <br>
            <input type="text" id="description" name="description">
            <br>

            <label for="attendees_min">Minimum number of attendees</label>
            <br>
            <input type="number" id="attendees_min" name="attendees_min">
            <br>

            <label for="attendees_max">Maximum number of attendees</label>
            <br>
            <input type="number" id="attendees_max" name="attendees_max">
            <br>

            <input type="submit" name="submit" id="submit" value="Submit" onclick="update()">
        </form>
    </div>

{% endblock %}