<!-- Created By Travis -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'exehubapp/img/exehub icon.png' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/float.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&family=Lato&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'exehubapp/javascript/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'exehubapp/javascript/main.js' %}"></script>
    {% block links %}
    {% endblock %}
    <title>{% block title %} ExeHub {% endblock %}</title>
</head>
    <body>
    <div id="header">
        <nav>
            <ul>
                <li id="logoLi"><a href="/"><img id="logo" src="{% static 'exehubapp/img/exehub with hat3.png' %}" alt="Home"></a></li>
                <li id="postLi"><a href="/addevent"><img id="post" src="{% static 'exehubapp/img/icons/newpost1.png' %}" alt="Create Post"></a></li>

                <li id="groupLi"><a href="/groups"><img id="group" src="{% static 'exehubapp/img/icons/group icon wip peeps only2 bigger.png' %}" alt="Create Group"></a></li>

                <li id="achievements"><a href="/achievements"><img id="achievements_icon" src="{% static 'exehubapp/img/icons/achievements.png' %}" alt="Achievements"></a></li>
                <li id="leaderLi"><a href="/leaderboard"><img id="leader" src="{% static 'exehubapp/img/icons/leaderboard icon wip1 with numbers cropped.png' %}" alt="Leaderboard"></a></li>
                <li id="dropdown"><button id="menu"><img id="menubutton" src=" {% static 'exehubapp/img/icons/menu icon.png' %}" alt="Menu"></button>
                    <div id="dropdownlinks">
                        <a href="/addevent"><img id="droppost" src="{% static 'exehubapp/img/icons/newpost1.png' %}" alt="Create Post"></a>
                        <a href="/groups"><img id="dropgroup" src="{% static 'exehubapp/img/icons/group icon wip peeps only2 bigger.png' %}" alt="Create Group"></a>
                        <a href="/leaderboard"><img id="dropleader" src="{% static 'exehubapp/img/icons/leaderboard icon wip1 with numbers cropped.png' %}" alt="Leaderboard"></a>
                    </div>
                </li>
                {% if user_id %}
                    <li><a href="/profile"><img id="pfp" src="/{{ pfp }}" alt="Profile"></a></li>

                {% else %}
                    <li> <a href="/login">Log In</a></li>
                {% endif %}
            </ul>

        </nav>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>
