<!-- Created By Travis -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/style.css' %}">
    <script type="text/javascript" src="{% static 'exehubapp/javascript/jquery-3.5.1.js' %}"></script>
    {% block links %}
    {% endblock %}
    <title>{% block title %} ExeHub {% endblock %}</title>
</head>
    <body>
    <div id="header">
        <div id="navbar">
        <img id="logo" src="{% static 'exehubapp/img/exehub with hat2.5.png' %}">
            {% block navbar %}
                <a href="/">Home</a>
                <a href="/addevent">Make a New Event</a>
                <a href="/events">All Events</a>
                <a href="/admin">Admin</a>
                <a href="/creategroup">Create Group</a>
                <a href="/register">Register</a>
                <a href="/login">Log In</a>
                <a href="/cat">Cat</a> <!-- To be removed -->
            {% endblock %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>