<!-- Created By Travis -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/style.css' %}">
    <script type="text/javascript" src="{% static 'exehubapp/javascript/jquery-3.5.1.js' %}"></script>
    {% block links %}
    {% endblock %}
    <title>{% block title %} ExeHub {% endblock %}</title>
</head>
    <body>
    <div id="header">
        <img src="static/exehubapp/img/exehublogo1.png" style="height: 20%; width: 20%">
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>