<!-- Created by James -->
{% extends "base.html" %}
{% load static %}

{% block links %}
    <script type="text/javascript" src="{% static 'exehubapp/javascript/creategroup.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/form.css' %}">
{% endblock %}

{% block title %} Create Group {% endblock %}

{% block content %}
    <h1>Create Group:</h1>
    <div id="form_container">
        <form name="uni_groups" id="uni_groups" method="post" action="">
            <label for="group_name">Group Name</label>
            <br>
            <input type="text" id="group_name" name="group_name">
            <br>
            <label for="group_owner">Group Owner</label>
            <br>
            <input type="text" id="group_owner" name="group_owner">
            <br>
            <label for="group_email">Group E-mail</label>
            <br>
            <input type="text" id="group_email" name="group_email">
            <br>
            <label for="fee">Fee</label>
            <br>
            <input type="number" step="0.01" id="fee" name="fee">
            <br>
            <input type="submit" name="submit" id="submit" value="Submit" onclick="update()">
        </form>
    </div>

{% endblock %}
