<!-- Created By Travis -->
{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/post.css' %}">
{% endblock %}

{% block title %} View Post {% endblock %}

{% block content %}
        <div id="feed">
        {% for row in data %}
            <div class="post" id={{ row.post_id }}>
                <div class="post_name">
                    <p> {{ row.post_name }}</p>
                </div>
                <div class="post_content">
                    {% if row.type == 'default' %} <!-- Text and image posts -->
                        {% if row.image == None %} <!-- Text posts -->
                            <div class="post_desc">
                                <p>{{ row.description }}</p>
                            </div>
                        {% else %} <!-- Image posts -->
                            <div class="post_image">
                                <img src="{{ row.image }}">
                            </div>
                            <div class="post_desc">
                                <p>{{ row.description }}</p>
                            </div>
                        {% endif %}
                    {% else %} <!-- Event posts -->
                        <div class="post_image">
                            <img src="{{ row.image }}">
                        </div>
                        <div class="post_desc">
                            <p>{{ row.description}}</p>
                        </div>
                        <div class="post_time">
                            <p class="start_time">{{ row.start }}</p>
                            <p class="end_time">{{ row.end }}</p>
                        </div>
                        <div class="Location">
                            <p>{{ row.location }}</p>
                        </div>
                    {% endif %}
                </div>

                <div id="icons">
                    <div id="upvote_div">
                        <div id="upvote_count">
                            <p class="count"> {{ row.upvote }} </p>
                        </div>
                        <button id="upvote">
                            <img id="upvote_img" src="{% static 'exehubapp/img/icons/post/upvote arrow wip 1.png' %}">
                        </button>
                    </div>
                    <button id="comments"><img src="{% static 'exehubapp/img/icons/post/comment icon wip3.png' %}"></button>
                    <button id="open"><img src="{% static 'exehubapp/img/icons/post/fullpage icon wip1.png' %}"></button>
                </div>
                <div class="post_comments">
                    <div class="view_comments">
                        <ul>
                        </ul>
                    </div>
                    <!--
                    <div class="add_comment">
                        Post a comment
                        <input type="text" id="add_comment_input" name="add_comment_input">
                    </div>
                    -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}