<!-- Created By Travis -->
{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/post.css' %}">
    <script type="text/javascript" src="{% static 'exehubapp/javascript/post.js' %}"></script>
{% endblock %}

{% block title %} View Post {% endblock %}

{% block content %}
   {% for row in post %}
     <div id="feed">
        <div class="post" id={{ row.post_id }}>
            <div class="post_details">
                <img class="poster_pfp" src="/{{ row.poster_pfp }}">
                <p class="poster_name"> {{ row.post_owner }}</p>
                <p class="post_name"> {{ row.post_name }}</p>
            </div>
            <div class="post_content">
                {% if row.type == 'default' %} <!-- Text and image posts -->
                    {% if not row.image %} <!-- Text posts -->
                        <div class="post_desc">
                            <p>{{ row.description }}</p>
                        </div>
                    {% else %} <!-- Image posts -->
                        <div class="post_image_container">
                            <img class="post_image" src="/{{ row.image }}">
                        </div>
                        <div class="post_desc">
                            <p>{{ row.description }}</p>
                        </div>
                    {% endif %}
                {% else %} <!-- Event posts -->
                    {% if not row.image %}
                        <div class="post_image_container">
                            <img class="post_image" src="{{ row.image }}">
                        </div>
                    {% endif %}
                    <div class="post_desc">
                        <p>{{ row.description}}</p>
                    </div>
                    <div class="post_time">
                        <p class="start_time">{{ row.start }}</p>
                        <p class="end_time">{{ row.end }}</p>
                    </div>
                    <div class="Location">
                        <p>{{ row.location }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="comments">
            <form id="add_comment" name="add_comment" method="post" action="" >
                <textarea id="comment_text" name="comment_text" required placeholder="Write a comment!"></textarea>
                <input type="hidden" value="{{ row.post_id }}" name="post_id">
                <input type="submit" name="submit" id="submit" value="Submit">
             </form>
            <div class="view_comments">
                {% for row in comments %}
                    <p class="comment"><img class="comment_pfp" src="\{{row.poster_pfp}}"> {{ row.post_owner }} : {{ row.description }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}