<!-- Created By Kai -->
{% extends "base.html" %}
{% load static %}

{% block links %}
    <script type="text/javascript" src="{% static 'exehubapp/javascript/register.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/form.css' %}">
{% endblock %}

{% block title %} Register {% endblock %}

{% block content %}
    <h1>Register:</h1>
    <div id="form_container">
        <form name="register" id="register" method="post" action="">
            <label for="fname">First Name</label>
            <br>
            <input type="text" id="fname" name="fname" required>
            <br>

            <label for="name">Last Name</label>
            <br>
            <input type="text" id="name" name="name" required>
            <br>

            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" onfocusout="verifyUniqueEmail()"  required>
            <p id ="duplicate_user" style="display:none">Email address already registered</p>
            <br>

            <label for="dob">Date of Birth</label>
            <br>
            <input type="date" id="dob" name="dob" required>
            <br>

            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <button type="button" id="button">Help</button>
            <br>

            <label for="T&C">
                Do you agree to the Terms and Conditions?
                <br>
                <a href ="/termsconditions/" target="_blank" style="all:unset;">View T&Cs</a>
                <br>
            </label>
            <input type="checkbox" id="T&C" required>
            <br>

            <input type="submit" name="submit" id="submit" value="Submit">
        </form>

        <div id="popup" class="popup">
          <div class="popup-content">
            <span class="close">&times;</span>
            <p>Password must contain at least one number and one uppercase and
                lowercase letter, and at least 8 or more characters</p>
          </div>
        </div>
    </div>

{% endblock %}

