<!-- Created by James -->
{% extends "base.html" %}
{% load static %}

{% block links %}
    <script type="text/javascript" src="{% static 'exehubapp/javascript/creategroup.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'exehubapp/style/form.css' %}">
{% endblock %}

{% block title %} Groups {% endblock %}

{% block content %}

    <div id="first">
        <h1>Join an existing community</h1>

        <table style="display:block">
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Fee</th>
                <th>Join</th>
            </tr>

            {% for row in outgroups %}
                <tr>
                    <th> {{ row.1 }}</th>
                    <th> {{ row.3 }} </th>
                    <th> {{ row.2 }} </th>
                    <th> {{ row.0 }} </th>
                    <th><button><a href="/groups/join/{{ row.0 }}">Join</a></button></th>
               </tr>

            {% endfor %}
        </table>
    </div>
    <div id="second">
        <h1>Create a new community</h1>
        <div id="form_container">
            <form name="uni_groups" id="uni_groups" method="post" action="">
            <label for="group_name">Group Name*</label>
            <br>
            <input type="text" id="group_name" name="group_name" onfocusout="verifyUniqueGroup()"  required>
            <br>
            <p id ="duplicate_group" style="display:none">Group already exists</p>

            <input type="hidden" id="group_owner" name="group_owner" value=1>
            <label for="group_email">Group E-mail</label>
            <br>
            <input type="text" id="group_email" name="group_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <br>
            <label for="fee">Fee</label>
            <br>
            <input type="number" step="0.01" id="fee" name="fee">
            <br>
            <input type="submit" name="submit" id="submit" value="Submit">
        </form>
    </div>
    <div id="third">
        <h1>My communities</h1>
        {%  if not ingroups %}
            <p>You are not in any communities. Either join an existing community or make your own!</p>
        {% else %}
            <table style="display:table";>
                <tr>
                    <th>Group Name</th>
                    <th>Group Email Address</th>
                    <th>Fee</th>
                </tr>
                {% for row in ingroups %}
                    <tr>
                        <th> {{ row.0 }}</th>
                        <th> {{ row.2 }}</th>
                        <th> {{ row.1 }}</th>
                        <th><button><a href="/groups/delete/{{ row.0 }}">Leave</a></button></th>
                   </tr>
                {% endfor %}
             </table>
        {% endif %}

    </div>


{% endblock %}
